chatroom{
    
    color:black;
    font-family:Impact;
    font-size:65pt;
  }


welcome{
    text-align:center;
    color:orange;
    font-family:Tahoma;
    font-size:45pt;
  }

tit{

    color:white;
    font-family:Cetury Gothic;
   }

